.clicker{
    cursor: pointer
}

.clicker-content {
    display: none;
    transition: height 0.3s ease; /* Adjust the duration and timing function as needed */
}

.clicker-content.active {
    display: block;
}


.thumb-display-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the items */
}

.thumb-display-icon-wrapper img {
    max-width: 300px; /* Adjust the maximum width of the images */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Adjust the margin between images */
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container .image-description {
    max-width: 250px;
    font-size: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image-description {
    opacity: 1;
}

.clicker-arrow {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.rotate-down {
    transform: rotate(180deg);
}